// Vant主题变量覆盖
:root {
  --van-primary-color: #07C160;
  --van-success-color: #07C160;
  --van-warning-color: #FF9D00;
  --van-danger-color: #FA5151;
  --van-tabbar-height: 56px;
  --van-tabbar-item-active-color: #07C160;
}
